body {
overflow: hidden;
font-family: Public Sans;
}
.Hero {
    display: flex;
    justify-content: center;
    gap: 19vw;
    
}
.bg-container {
    overflow-x: hidden;
    margin: 0;
    position: absolute;
    background-size: 70% 100%;
    transform: translate(15%, -30%);
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    z-index: -1;

}
.img {
   margin: -20em -25em 0 0;
}
.Next {
    max-width: 37vw;
    margin-top: 10vh;
}
.head {
  font-weight: 100;
  font-size: 3.9rem;
  margin-bottom: -0.0em;
  color: hsl(233, 26%, 24%);
}
.img2 {
    height: auto;
    width: 45vw;
    margin: -26vh -18vw 0 0vw;
}
.para {
    color:  hsl(233, 8%, 62%);
    font-size: 1.2rem;
}
.container {
    max-width: 90rem;
    margin-inline: auto;
}
.button2 {
    margin:1em 0 1em 0;
    background-image:linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 10rem;
    height: 3rem;
    border-radius: 50em;
    color: hsl(0, 0%, 98%);
    border-style: none;
}
.button2:hover {
    /* background-image: none; */
    background-color: hsl(233, 8%, 62%);
    opacity: 0.5;
}