body {
    overflow-x: hidden;
    font-family: Public Sans;
    background-color: hsl(0, 0%, 98%);
    margin: 0;
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: 55em;
    background-position-y: -20em
}
.Hero {
    display: flex;
    justify-content: center;
    
}
.img {
   margin: -20em -25em 0 0;
}
.head {
  font-weight: 100;
  font-size: 4rem;
  margin-bottom: -0.0em;
  color: hsl(233, 26%, 24%);
}
.img2 {
    
}
.phone {
    width: 100%;
    margin-right: -48%;
}
.para {
    color:  hsl(233, 8%, 62%);
    font-size: 1.3rem;
}
.container {
    width: 90rem;
    margin-inline: auto;
}
.button2:hover {
    background-color: hsl(233, 8%, 62%);
    border-color: brown;
    
}
.button2 {
    margin:1em 0 1em 0;
    background-image:linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 25%;
    height: 10%;
    border-radius: 50em;
    color: hsl(0, 0%, 98%);
    border-style: none;
}